<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Appino - Responsive App Landing Page" />
    <meta name="author" content="iqonicthemes.in" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Appino - Responsive App Landing Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ app.request.basepath }}/assets/images/favicon.ico" />

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;Raleway:300,400,500,600,700,800,900">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap.min.css">

    <!-- owl-carousel -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/css/owl-carousel/owl.carousel.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/css/font-awesome.css" />

    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/css/magnific-popup/magnific-popup.css" />

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/css/animate.css" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/ionicons.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/responsive.css">

    <!-- Style customizer (Remove these two lines please) -->
    {#<link rel="stylesheet" href="#" data-style="styles">#}
    {#<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/style-customizer.css" />#}

    <!-- custom style -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/custom.css" />

</head>

<body>

<!-- loading -->

<div id="loading" class="green-bg">
    <div id="loading-center">
        <div class="boxLoading"></div>
    </div>
</div>

<!-- loading End -->


<!-- Header -->

<header id="header-wrap" data-spy="affix" data-offset-top="55">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <span><img src="{{ app.request.basepath }}/assets/img/Logo_YAP.png" alt="logo"></span>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <span><img src="{{ app.request.basepath }}/assets/img/Logo_BNI.png" alt="logo"></span>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" id="top-menu">
                            <li class="active"><a href="#iq-home">Home</a></li>
                            <li><a href="#about-us">About Us</a></li>
                            <li><a href="#features">Features</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- Header End -->

{% block content %}{% endblock %}



<div class="footer">

    <footer class="iq-footer white-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="footer-info iq-mt-50 iq-mb-30">
                        <img id="logo_img" class="img-responsive center-block iq-mb-10 wow zoomIn" data-wow-duration="1s" src="{{ app.request.basepath }}/assets/images/logo-footer.png" alt="">
                        <p>Menjadi yang terdepan di ranah pembayaran online untuk segmen membawa motivasi baru bagi YAP! untuk mengembangkan bisnisnya lebih luas lagi dan menjangkau konsumen. novasi tanpa batas adalah komitmen YAP! untuk terus menjadi perusahaan pembayaran terdepan, dapat diandalkan dan terus dapat berperan dalam memajukan ekonomi indonesia.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-copyright iq-ptb-20">&copy; Hak Cipta <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> PT. Bank Negara Indonesia (Persero), Tbk.</div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer END -->

</div>

<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>

<!-- owl-carousel -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Counter -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/counter/jquery.countTo.js"></script>

<!-- Jquery Appear -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery.appear.js"></script>

<!-- Magnific Popup -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Retina -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/retina.min.js"></script>

<!-- wow -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/wow.min.js"></script>

<!-- Countdown -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery.countdown.min.js"></script>

<!-- Custom -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/custom.js"></script>

<!-- Style Customizer -->
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/style-customizer.js"></script>


</body>

</html>
